<nav class="nav">
  <a class="nav__brand" routerLink="/home">{{ 'GameVerse' | t }}</a>

  <app-language-controls />

  <app-music-controls class="in-nav" [compact]="true" />

  <button class="nav__toggle" (click)="toggleMenu()" [attr.aria-label]="'Toggle menu' | t">
    &#9776;
  </button>

  <ul class="nav__links" [class.nav__links--open]="menuOpen()">
    @for (link of links(); track link.path) {
      <li>
        <a [routerLink]="link.path" routerLinkActive="nav__link--active">
          {{ (link.label) | t }}</a>
      </li>
    }
  </ul>
</nav>
